﻿@model pagging.Models.viewmodelstudent

@{
    ViewBag.Title = "getstudent";
}

<h2>getstudent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.student.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.FirstOrDefault().Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.FirstOrDefault().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.FirstOrDefault().DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.FirstOrDefault().Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.student) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
  
}
    <tr>
        <td>
            @Html.ActionLink("<<", "getstudent1", new { currentpage = Model.currentpage - 1, pagesize = Model.pagesize })
            @for(int i=1; i<=Model.totalpagecount;i++)
            {
                @Html.ActionLink(Convert.ToString(i), "getstudent1", new { currentpage = i, pagesize = Model.pagesize })
            }
            @Html.ActionLink(">>", "getstudent1", new { currentpage = Model.currentpage + 1, pagesize = Model.pagesize })
            </td>
        @*<td>
            @Html.ActionLink("<<", "getstudent1", new { currentpage = Model.currentpage - 1, pagesize = Model.pagesize })
            @Html.ActionLink(Convert.ToString(Model.currentpage), "getstudent1", new { currentpage = Model.currentpage, pagesize = Model.pagesize })
            @Html.ActionLink(Convert.ToString(Model.currentpage+1), "getstudent1", new { currentpage = Model.currentpage+1, pagesize = Model.pagesize })
            @Html.ActionLink(Convert.ToString(Model.currentpage + 2), "getstudent1", new { currentpage = Model.currentpage + 2, pagesize = Model.pagesize})
            @Html.ActionLink(">>", "getstudent1", new { currentpage = Model.currentpage + 1, pagesize = Model.pagesize })
        </td>*@
    </tr>
</table>

